.about-us {
    position: relative;
    padding: 4rem 1rem 4rem;
    width: 100%;
    background-color: #fff;
}

.about-us__content-wrap {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}

.about-us__tile {
    margin-bottom: 4rem;
    color: #33373e;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.about-us__subtitle {
    margin-bottom: 4rem;
    color: #494c52;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 1rem;
    }
}

.about-us__items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    width: calc(100% + 2rem);
    margin-left: -1rem;
}

.about-us__item {
    margin-bottom: 2rem;
    width: calc((100% - 2rem)/3);
    @media screen and (--mobile) {
        width: 100%;
    }
}

.about-us__item-img {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.about-us__item-img--1 {
    background-image: url(img/colours.svg);
}

.about-us__item-img--2 {
    background-image: url(img/round-brush.svg);
}

.about-us__item-img--3 {
    background-image: url(img/tools.svg);
}

.about-us__item-title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
}

.about-us__item-desc {
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
}