.map-widget {
    position: relative;
    width: 100%;
    height: 32rem;
    background-color: #fff;
    @media screen and (--mobile) {
        height: 100vmin;
    }
    & iframe {
        width: 100%;
        height: 100%;
    }
}