.portfolio {
    position: relative;
    padding: 4rem 0 0;
    width: 100%;
    background-color: #fff;
}

.portfolio__content-wrap {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1120px;
    width: 100%;
}

.portfolio__tile {
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 1120px;
    width: 100%;
    color: #33373e;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.portfolio__subtitle {
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 1120px;
    width: 100%;
    color: #494c52;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 1rem;
    }
}

.portfolio__items-wrap {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    background-color: #1f2229;
}

.portfolio__item {
    display: block;
    flex-grow: 1;
    float: left;
    width: 25%;
    height: 25vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
    @media screen and (--mobile) {
        width: 50%;
        height: 50vmin;
    }
    &::after {
        display: none;
    }
    &:nth-child(6n),
    &:nth-child(6n+1) {
        width: 50%;
    }
    &:hover {
        opacity: .5;
    }
}