.contacts {
    position: relative;
    z-index: 2;
    padding: 4rem 1rem 4rem;
    width: 100%;
    background-color: #33373e;
    color: #fff;
    text-align: center;
    & a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: #33373e;
        }
    }
}

.contacts__content-wrap {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}

.contacts__title {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.contacts__subtitle {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
}

.contacts__items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
    width: 100%;
    border-radius: 5px;
    @media screen and (--mobile) {
        padding: 0;
    }
}

.contacts__item {
    flex-grow: 1;
    margin-bottom: 2rem;
    padding: 8rem 2rem 2rem;
    width: calc(100% / 3);
    background-position: center 2rem;
    background-size: 3rem auto;
    background-repeat: no-repeat;
    @media screen and (--tablet) {
        padding: 8rem 1rem 1rem;
    }
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        width: 100%;
    }
}

.contacts__item-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    @media screen and (--tablet) {
        font-size: 2rem;
    }
}

.contacts__caption {
    font-size: 1rem;
    line-height: 1.5;
}