.reviews {
    position: relative;
    clear: both;
    padding: 4rem 1rem;
    width: 100%;
    background-color: #1f9df3;
    color: #fff;
    text-align: center;
}

.reviews__content-wrap {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}

.reviews__title {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-weight: 300;
    font-size: 50px;
    @media screen and (--mobile) {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
}

.reviews__slideshow {
    width: 100%;
}

.reviews__slideshow-items-wrap {
    padding-bottom: 5rem;
    width: 100%;
}

.reviews__slideshow-item {
    padding-top: 10px;
    width: 100%;
}

.reviews__slideshow-item-img {
    overflow: hidden;
    margin: auto;
    margin-bottom: 1rem;
    padding: 2px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-position: center;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.reviews__slideshow-item-name {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.reviews__slideshow-item-desc {
    display: block;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-style: italic;
    font-size: .8rem;
    @media screen and (--mobile) {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}

.reviews__slideshow-item-caption {
    font-size: 1.5rem;
    line-height: 1.5;
    @media screen and (--mobile) {
        font-size: 1rem;
    }
}

.reviews__slideshow-pagination {
    bottom: 2rem !important;
    & .swiper-pagination-bullet {
        margin: 0 .25rem;
        width: 1rem;
        height: 1rem;
        border: 2px solid rgba(0, 0, 0, .2);
        border-radius: 20px;
        background-color: transparent;
        opacity: 1;
        transition: .3s;
        &:hover {
            background-color: rgba(0, 0, 0, .2);
        }
    }
    & .swiper-pagination-bullet-active {
        background-color: rgba(0, 0, 0, .2);
    }
}