.site-footer {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 2rem 1rem 2rem;
    text-align: center;
    color: #fff;
    background-color: #1f2229;
}

.site-footer__content-wrap {
    display: flex;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.site-footer__company {

}