.promo {
    position: relative;
    min-height: 480px;
    width: 100%;
    height: 100vh;
    background-color: #33373e;
}

.promo__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1120px;
    width: 100%;
    height: 100%;
}

.promo__title-accent {
    display: block;
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 4rem black;
    font-weight: 700;
    font-size: 60px;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.promo__title-desc {
    display: block;
    margin-bottom: 4rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 4rem black;
    font-weight: 300;
    font-size: 25px;
    @media screen and (--mobile) {
        margin-bottom: 2rem;
        font-size: 1rem;
    }
}

.promo__btn {
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 4rem black;
    font-weight: 700;
    font-size: 20px;
    @media screen and (--mobile) {
        font-size: 1rem;
    }
    &:hover {
        background-color: #ff6858;
        box-shadow: 0 0 4rem #fc6656;
    }
}

.promo__slideshow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    opacity: .5;
}

.promo__slideshow-items-wrap {}

.promo__slideshow-item {
    min-height: 480px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}